{% extends "base.html.twig" %}

{% block body %}
    <body>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.age) }}
    {% for photo in pet.photos %}
        <div id="{{ photo.photoName }}">
            <img src="{{ asset("uploads/photos/"~photo.photoName) }}"
              style="width:150px; height: auto;">
            <button type="button" style="width: 15px;height: 15px;background-color: red"
                onclick="deletePhoto('{{ photo.photoName }}')">X</button>
        </div>
    {% endfor %}
    {{ form_row(form.photos) }}
    <button type="submit">Save</button>
    {% if pet.id is not null %}
    <button type="button" onclick="deletePet('{{ pet.id }}')">Delete pet</button>
    {% endif %}
    {{ form_end(form) }}
    </body>
{% endblock %}
