{% extends "base.html.twig" %}

{% block body %}
    <body>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.age) }}
    {{ form_row(form.photos) }}
    <button type="submit">Save</button>
    {{ form_end(form) }}
    </body>
{% endblock %}
{% block javascripts %}{% endblock %}