{% extends "base.html.twig" %}

{% block search %}
    <div id="search">
        {{ form_start(form) }}
        {{ form_row(form.species) }}
        {{ form_row(form.breed) }}
        {{ form_row(form.gender) }}
        {{ form_row(form.age) }}
        <button type="submit">Find</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block body %}
    <div id = "petTable">
        <a href="{{ path('index') }}" class="SmallLink" style="float: right">home</a>
        <table id = "petTable">
            {% for row in pets|batch(3, "") %}
                <tr>
                    {% for pet in row %}
                        {% if pet != "" %}
                            <td style="border: solid #1C440C">
                                {% for photo in pet.photos %}
                                    <img src="{{ asset("uploads/photos/"~photo.photoName) }}" style="width:150px; height: auto;">
                                {% endfor %}
                                <br>
                                <b>Name: </b>{{ pet.name }} <b>Age: </b>{{ pet.age }}
                                <br>
                                <b>Species: </b>{{ pet.species.speciesName }} <b>Breed: </b>{{ pet.breed }}
                                <br>
                                <b>Gender: </b>{{ pet.gender }} <b>Owner: </b>{{ pet.owner.username }}
                                {% if is_granted('edit', pet) %}
                                    <a href="{{ path('edit_pet', {'id' : pet.id}) }}" class="SmallLink">edit</a>
                                    <a href="#" class="SmallLink" onclick="deletePet('{{ pet.id }}'); return false;">delete</a>
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
