{% extends "base.html.twig" %}

{% block navigation %}
    <span><a href="/login">login</a></span>
{% endblock %}

{% block body %}
    <body>
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}
    {{ form_row(form.termsAccepted) }}
    <button type="submit">Register!</button>
    {{ form_end(form) }}
    </body>
{% endblock %}
