<span id="sidebar">
    {% block sidebar %}
        {% if is_granted('ROLE_USER') %}
            <span><a href="{{ path('index') }}">All pets</a></span><br>
            <span><a href="{{ path('new_pet') }}">New pet</a></span><br>
            <span><a href="{{ path('edit_user', {'id':app.user.id}) }}">My profile</a></span><br>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <span><a href="{{ path('user_show_all') }}">Manage users</a></span><br>
            <span><a href="{{ path('user_create') }}">New user</a></span><br>
        {% endif %}
    {% endblock %}
</span>
