{% extends "base.html.twig" %}

{% block body %}
<body>
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
    <div id = "userTable">
        <table id = "userTable" style="border: solid #1C440C">
            {% for row in users|batch(3, "") %}
                <tr>
                    {% for user in row %}
                        {% if user != "" %}
                            <td style="border: solid #1C440C">
                                <br>
                                {{ "Name: "~user.username }}
                                <br>
                                {{ "Email: "~user.email }}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('edit_user', {'id': user.id}) }}" class="SmallLink">edit</a>
                                    <a href="{{ path('delete_user', {'id':user.id}) }}" class="SmallLink">delete</a>
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
{% endblock %}


