{% extends "base.html.twig" %}

{% block sidebar %}
    {% if  is_granted('ROLE_USER')%}
        {% include 'sidebar.html.twig' %}
    {% endif %}
{% endblock %}

{% block body %}
    <body>
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}
    {{ form_row(form.roles) }}
    <button type="submit">Register!</button>
    {{ form_end(form) }}
    </body>
{% endblock %}
